.aboutBg {
    background-image: url("/public/assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
}

.aboutWrapper{
    padding: 7%;
    padding-top: 10%;
}

.about-section{
 margin-bottom: 10rem;
}

.tools-title{
    margin-bottom: 2rem;
}

.html, .css, .js, .npm, .jquery, .git, .vs, .node, .github, .react{
    width: 100px;
    height: 100px;
    margin: 1.6rem;
}

.bootstrap{
    width: 120px;
    height: 100px;
    margin-right: 1.6rem;
}

.techLogos1 {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    text-align: center;
}

.techLogos2{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}