.aboutBg {
    background-image: url("/public/assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    max-width: 100vw;
}

/* .aboutWrapper{
    margin: 0 auto;
} */

/* .my-info{
    padding-top: 2rem;
} */