.contactBg {
    background-color: var(--blackBg);
    }
  
    .main-wrapper {
      padding-top: 6rem;
      padding-bottom: 3rem;
    }

    .contact-title {
      text-align: center;
      margin-top: -50px;
      margin-bottom: 2rem;
      color: var(--headings);
    }

    .sub-heading{
      color: var(--text1);
      text-align: center;
    }

    .contact-grid {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr;
      margin: 2rem 3rem 2rem 3rem;
      /* background-color: #9f9a9a1c; */
      /* background-color: #ffffffaf; */
      border-radius: 20px;
      padding: 3% 0%;
    }

    .form-bg{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin: 0rem auto;  */
      margin-left: 2rem; 
      width: 90%; 
      /* max-width: 600px;  */
      /* background-color: #2d2d2d; */
      /* background-color: var(--headerBg); */
      border-radius: 8px;
    }
    
    form {
      display: flex;
      flex-direction: column;
      width: 90%; 
      margin: 1rem auto; 
      /* padding-top: 4%; */
      max-width: 500px; 
    }
    
    form :not(:last-child) {
      outline: #F08A9B;
      color: var(--text1);
      padding: 4%;
      margin-bottom: 12px;
      border: none;
      /* border-bottom: 2px solid #cce7fa; */
      background-color: #505050fc;
      border-radius: 5px;
      /* font-size: 1rem;  */
    }
    
    .f-btn {
      padding: 2%;
      color:var(--btnText);
      border: none;
      cursor: pointer;
      margin: 1rem auto;
      width: 160px;
      border-radius: 5px;
      font-family: 'Raleway';
      font-weight: bold;
      background-image: linear-gradient(to right, #ff3a99f9, #f85ca8,#e7644f);
  }
  
  .f-btn:hover {
    background-image: linear-gradient(to right, #f8c4e1ef,  #edd7c1);
      color: var(--btnText1);
  }

  .contact-info {
    /* display: flex;
    flex-direction: column;
    gap: 1.9rem; */
    color: #717577;
  }

  .contact-text {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    padding: 7%;
    max-width: 80%;
    margin: 1rem auto;
    /* background-color: #f1e6f1ee; */
    border-radius: 8px;
  }

  .text-info {
    flex-direction: column;
    color: #88898a;
    /* color: #eff7fe; */
  }


  .icon{
    margin-right: 20px;
    font-size: 1.7rem;
  }

  .ic1 {
    color: #99cff1ee;
  }

  .ic2{
    color: #f1a6ded6;
  }

  .ic3{
    color: #bacd8dee;
  }

  .icon-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1rem;
    /* margin: .2rem auto; */
    text-align: center;
    padding:1% 0%;
  }

  .c-gh {
    color: #3f3d3d;
  }
  
  .c-ig {
    color: #7a289b;
  }
  
  .c-in {
    color: #404ab2;
  }

  .c-in, .c-ig, .c-gh {
    background-color: #e3e9ee;
    padding: 6px;
    border-radius: 20px;
    height: 25px;
    width: 27px;
  }


  /* text1: {
    backgroundColor: '#deeff2ee'
},
text2: {
    backgroundColor:'#f1e6f1ee'
},
text3: {
    backgroundColor: '#eef6dbee'
} */
  

  .text1 {
    /* background-color: #2c2b2bfc; */
    /* background-color:  #1f1e1e4f; */
    background-color:#424141fc;

  }

  .text2 {
    /* background-color: #2c2a2afc; */
    background-color:  #424141fc;

  }

  .text3 {
    /* background-color: #2c2a2afc; */

    background-color:  #424141fc;
  }



   @media only screen and (max-width: 830px){

    .contact-grid {
      grid-template-columns: 1fr;
      /* margin: 0rem; */
    }
    
    .form-bg{
        margin: 0 auto;
        width: 75%;
        margin-bottom: 2rem;
      }

    .contact-info{
      align-self: center;
    }

    .contact-text{
      max-width: 55%;
      padding: 3.5%;
      margin: 1rem auto;
    }

    .icon-div{
      padding:2% 0%;
    }

  }
 
  /* @media only screen and (min-width: 500px){ 
    .contactBg{
      min-height: 110vh;
      min-width: 80vw;
      }
  }

  .contact-grid {
    grid-template-columns: 1fr 1fr;
  } */
