.contactBg {
    background-color: var(--blackBg);
    }
  
    .contact-wrapper {
      padding-top: 2.5rem;
    }

    .contact-title {
      text-align: center;
      margin-bottom: 2rem;
      color: var(--headings);
    }

    .sub-heading{
      color: var(--text1);
      text-align: center;
    }

    .contact-grid {
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      grid-template-rows: 1fr;
      margin: 2rem 3rem 2rem 3rem;
      /* background-color: #9f9a9a1c; */
      /* background-color: #ffffffaf; */
      border-radius: 20px;
      padding: 3% 0%;
    }

    .form-bg{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* margin: 0rem auto;  */
      margin-left: 2rem; 
      width: 90%; 
      /* max-width: 600px;  */
      /* background-color: #2d2d2d; */
      /* background-color: var(--headerBg); */
      border-radius: 8px;
    }
    
    form {
      display: flex;
      flex-direction: column;
      width: 90%; 
      margin: 1rem auto; 
      /* padding-top: 4%; */
      max-width: 500px; 
    }
    
    form :not(:last-child) {
      outline: #F08A9B;
      color: var(--text1);
      padding: 4%;
      margin-bottom: 12px;
      border: none;
      /* border-bottom: 2px solid #cce7fa; */
      background-color: #505050fc;
      border-radius: 5px;
      /* font-size: 1rem;  */
    }
    
    .f-btn {
      padding: 2%;
      color:var(--btnText);
      border: none;
      cursor: pointer;
      margin: 1.4rem auto;
      width: 140px;
      border-radius: 5px;
      font-family: 'Raleway';
      font-weight: bold;
      color: var(--btnText1);
      background-image: linear-gradient(to right, #b8a38d, #cda0b9ef);
    }
    
    .f-btn:hover {
    background-image: linear-gradient(to right, #deaec8ef,  #dfb993);
    transform: scale(.97);
    transition: transform 0.2s ease-out;
  }

  .contact-info {
    /* display: flex;
    flex-direction: column;
    gap: 1.9rem; */
    color: #717577;
  }

  .contact-text {
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    padding: 7%;
    max-width: 80%;
    margin: 1rem auto;
    /* background-color: #f1e6f1ee; */
    border-radius: 8px;
  }

  .text-info {
    flex-direction: column;
    color: #88898a;
    /* color: #eff7fe; */
  }


  .text1 {
    background-color:#424141fc;

  }

  .text2 {
    background-color:  #424141fc;
  }

  .text3 {
    background-color:  #424141fc;
  }


  .icon{
    margin-right: 20px;
    /* font-size: 2.7rem; */
  }

  .ic1, .ic2, .ic3{
    height: 22px;
    width: 22px;
  }
  .ic1 {
    color: #a8d7f4ee;
  }

  .ic2{
    color: #f1b6e2d6;
  }

  .ic3{
    color: #cbd6b1ee;
  }

  .icon-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: .5rem 0rem 1rem;;
    text-align: center;
    padding:1% 0%;
  }


  .c-in, .c-ig, .c-gh {
    color: var(--iconColor);
    background-color: #76515f;
    padding: 7px;
    border-radius: 30px;
    height: 20px;
    width: 22px;
  }



   @media only screen and (max-width: 845px){

    .contact-grid {
      grid-template-columns: 1fr;
      /* margin: 0rem; */
    }
    
    .form-bg{
        margin: 0 auto;
        width: 75%;
        /* margin-bottom: 2rem; */
      }

    .contact-info{
      align-self: center;
    }

    .contact-text{
      max-width: 55%;
      padding: 3.5%;
      margin: 1rem auto;
    }

    .icon-div{
      padding:2% 0%;
    }

  }
 
  @media only screen and (min-width: 430px){ 
    .contact-text{
      max-width: 70%;
  }
}

