:root {
  --header: #f0dbdbad;
  --text: #635454;
}

/* RESETS */
* {
  margin: 0px;
  padding: 0px;
}

body, html, #root {
  height: 100%;
  }


/* CUSTOM STYLES */

  body {
    font-family: 'Raleway'
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    background-color: var(--header);
    color: var(--text);
    padding: 2% 3%;
  }

  nav a {
    color: var(--text);
    font-size: 16px;
    text-decoration: none;
  }

  nav a:not(:last-child) {
    margin-right: 15px;
  }

  nav a.active {
    text-decoration: underline;
  }

  /* Home-page Styles */

  .mainBg{
    background-image: url("../assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    }

 main {
  padding: 5%;
  padding-top: 12%;
 }
 
 main .title {
   font-size: 55px;
   font-family: 'Monoton', serif;
   line-height: 100%;
  }
  
  p {
   font-size: 16px;
  }

  


 