/* Project Gallery Styles */

.projectContainer {
  text-align: center;
}

.projectBg{
    background-image: url("/public/assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }

.proj-title {
  font-size: 44px;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: .5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    padding: 3.7% 0%;
    margin: 0% auto;
    text-align: center;
    max-width: 86.4%;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 7px;
    height: 230px; 
    /* height adjusts space of content inside cards */
  }

  .proj-img{
    height: 200px;
    width: 300px;
    border-radius: 8px;
  }

  /* .card-btm {
    border-radius: 7px;
  }

    .p-title{
      color:#252626;
      font-size: 1.2rem;
      font-weight: 500px;
      margin-bottom: 4%;
    }

    .btn {
      padding: 2% 5%;
      border-radius: 7px;
      border: none;
      background-image: linear-gradient(to right, #bbe6f7d9, #bdcaf9);
      cursor: pointer;
    }

    .btn:hover{
      background-image: linear-gradient(#9fcefdd4, #97d6fe);
    } */


    @media only screen and (min-width: 400px) {
 
      .projectBg {
        min-height: 300vh;
        width: 100vw;
        }

      .proj-title {
        font-size: 44px;
        text-align: center;
        padding-top: 4rem;
        }

      .p{
        padding-bottom: 2rem;
        }

      .project-grid {
        display: grid;
        grid-template-columns: 1fr; 
        max-width: fit-content;
        row-gap: 2.5%;
        }

        .proj-img{
          height: 280px;
          width: 350px;
          max-height: 100%;
        }
    }

    @media only screen and (min-width: 730px){
      .projectBg{
        min-height: 160vh;
        min-width: 100vw;
        }

      .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        max-width: fit-content;
        margin: .5 auto;
        gap: 4% 7%;
      }

      .proj-img{
        height: 220px;
        width: 300px;
        max-height: 100%;
      }
    }

    @media only screen and (min-width: 1000px){
      .projectBg{
        min-height: 120vh;
        min-width: 100vw;
        }

        .project-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr; 
          gap: 0 3%;
        }
        .proj-img{
          height: 200px;
          width: 300px;
          max-width: 100%;
          border-radius: 8px;
        }
    }