/* Project Gallery Styles */

.projectContainer {
  text-align: center;
}

.projectBg{
    background-image: url("/public/assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    }

.proj-title {
  font-size: 44px;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: .5rem;
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6% 3%;
    padding: 3.7% 0%;
    margin: 0% auto;
    text-align: center;
    max-width: fit-content;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content:start;
    background-color: #dfe9f2bc;
    border: 1px solid #bdd4dfad;
    border-radius: 7px;
    height: 290px; 
    /* height adjusts space of content inside cards */
  }

  .proj-img{
    height: 200px;
    width: 300px;
    border-radius: 4px;
    padding-bottom: 5%;
  }

  .card-btm {
    border-radius: 7px;
  }

    .p-title{
      color:#252626;
      font-size: 1.2rem;
      font-weight: 500px;
      margin-bottom: 4%;
    }

    .btn {
      padding: 2% 5%;
      border-radius: 7px;
      border: none;
      background-image: linear-gradient(to right, #bbe6f7d9, #bdcaf9);
      cursor: pointer;
    }

    .btn:hover{
      background-image: linear-gradient(#9fcefdd4, #97d6fe);
    }


    @media only screen and (max-width: 576px) {
 
      .projectBg{
        height: 210vh;
        width: 100vw;
        }

        .proj-title {
          font-size: 44px;
          text-align: center;
          padding-top: 4rem;
          padding-bottom: 1.3rem;
        }

        .p{
          padding-bottom: 2rem;
        }

      .project-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: .5rem auto;
        row-gap: 2.5%;
      }
    }

    @media only screen and (max-width: 830px){
      .projectBg{
        height: 110vh;
        max-width: 100vw;
        }

      .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        margin: .5rem auto;
        row-gap: 2.5%;
      }
    }

    /* @media only screen and (max-width: 900px){
      .projectBg{
        height: 300vh;
        width: 100vw;
        }
    } */

    @media only screen and (max-width: 1200px){
      .projectBg{
        height: 170vh;
        max-width: 110vw;
        }
    }