/* Project Gallery Styles */

.projectContainer {
  text-align: center;
}

.projectBg{
    background-image: url("/public/assets/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    /* background-color: #2c2b2b; */
    }

.portfolio-title {
  font-size: 44px;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: .5rem;
  color: var(--text1);
}

.project-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 3%;
    padding: 3.7% 0%;
    margin: 0% auto;
    text-align: center;
    max-width: 86.4%;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content:center;
    border-radius: 7px;
    height: 230px; 
    margin-bottom: 2rem;
    cursor: pointer;
    /* height adjusts space of content inside cards */
  }

  .proj-img{
    height: 200px;
    width: 300px;
    border-radius: 8px;
  }
/* chnage after adding overlay */
  .p-title{
    font-size: 20px;
    font-weight: bolder;
    color: #5e5b5b;
    margin-top: .5rem;
  }

  /* MODAL STYLES */

  .modal-content {
    width: 500px;
    height: 500px;
    color: var(--modalText);
    background-color: var(--modalBg);
    border-radius:16px;
    padding-bottom: 2%;
    /* background-color: #39393987; */
  }

  .modal-header .modal-footer {
    display: flex;
  }

  .modal-title{
    margin:0;
    text-align: center; 
    font-size: 30px;
    padding: 3% 0%;
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 3.5%;
  }

  .modalImg{
    height: 230px;
    width: 350px;
    border-radius: 5px;
    /* margin-top: 7%; */
    margin-bottom: 5%;
  }
  .modal-footer {
    margin: 3% 19%;
    text-align: center;
  }

  .modalBtn {
    padding: 2.7% 5%;
    margin: 2% 3% 0% 3%;
    border-radius: 8px;
    border: none;
    background-color:var(--btnBg);
    color: var(--btnText);
    cursor: pointer;
  }

  .modalBtn:hover {
    background-image: linear-gradient(to right, #f8c4e1ef,  #edd7c1);
    color: var(--text);
  }

  .close-icon{
    border: none;
    background-color: #e8e8e800;
    padding: 1%;
    color: var(--text1);
    font-size: 16px;
    cursor: pointer;
    margin-left: 470px;
  }

    @media only screen and (min-width: 400px) {
 
      .projectBg {
        min-height: 280vh;
        width: 100vw;
        }

      .proj-title {
        font-size: 44px;
        text-align: center;
        padding-top: 4rem;
        }

      /* .p{
        padding-bottom: 2rem;
        } */

      .project-grid {
        display: grid;
        grid-template-columns: 1fr; 
        max-width: fit-content;
        padding: 5% 0;
        row-gap: 1%;
        }

        .proj-img{
          height: 210px;
          width: 310px;
          max-height: 100%;
        }
    }

    @media only screen and (min-width: 730px){
      .projectBg{
        min-height: 160vh;
        min-width: 100vw;
        }

      .project-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        max-width: fit-content;
        padding: 6% 0;
        margin: .5 auto;
        gap: 4% 7%;
      }

      .proj-img{
        height: 216px;
        width: 300px;
        max-height: 100%;
      }
    }

    @media only screen and (min-width: 1000px){
      .projectBg{
        min-height: 120vh;
        min-width: 100vw;
        }

        .project-grid {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr; 
          padding: 4% 0%;
          gap: 0 3%;
        }
        .proj-img{
          height: 200px;
          width: 300px;
          max-width: 100%;
          border-radius: 8px;
        }
    }