/* RESETS */
* {
  margin: 0px;
  padding: 0px;
}

body, html, #root {
  height: 100%;
  }

:root {
  --header: #f0dbdbad;
  --text: #635454;
  
}

/* CUSTOM STYLES */

html {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/567/632/non_2x/abstract-geometric-background-with-minimal-shape-gradient-and-memphis-style-suitable-for-various-background-design-template-banner-poster-presentation-etc-vector.jpg");
  position: fixed;
  width: 100%;
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  }


  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header {
    background-color: var(--header);
    color: var(--text);
    padding: 2% 3%;
  }

  a {
    color: var(--text);
    font-size: 16px;
  }

  a:not(:last-child) {
    margin-right: 7px;
  }